{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Warning: missing title{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'registration' %}">Registration</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block page_title %}Warning: missing page title{% endblock %}
        {% block content %}Warning: missing content{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Kaite</p>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>