{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Warning: missing title{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div id="toast" class="toast"></div>
            <a href="{% url 'home' %}" class='left-link'>Home</a>
            {% if user.is_authenticated %}
                {% csrf_token %}
                <div class="nav-right">
                    <form id="search-form">
                        <input type="text" id="search-input" placeholder="Search users..." />
                        <ul id="search-suggestions" class="suggestions"></ul>
                    </form>
                    <a href="{% url 'profile' username=request.user.username %}">
                    <img src="{% static 'images/user-icon.png' %}" alt="Profile" id="profile-icon">
                    </a>
                    <a href="#" id="logout-link">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class='left-link'>Login</a>
                <a href="{% url 'registration' %}" class='left-link'>Registration</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block page_title %}Warning: missing page title{% endblock %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Kaite</p>
    </footer>

    {% block extra_js %}
        <script>const CSRF_TOKEN = '{{ csrf_token }}';</script>
        <script src="{% static 'js/utils.js' %}" defer></script>
        <script src="{% static 'user/js/logout.js' %}" defer></script>
        <script src="{% static 'user/js/search.js' %}" defer></script>
    {% endblock %}

</body>
</html>