* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #004466;
    color: #fff;
    padding: 1rem;
    z-index: 1000;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #004466;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    background-color: #f7f7f7;
    min-height: calc(100vh - 10rem); 
    padding: 2rem; 
}

main h1 {
    font-size: 3rem;      
    text-align: center;   
    margin-top: 3rem;
    margin-bottom: 0.8rem;
}

main h2 {
    text-align: center;   
    margin-bottom: 1.5rem; 
    color: #3496c7;      
}

.image-container {
    display: flex;           
    justify-content: center;  
    margin-top: -10rem;
}

.toast {
    position: fixed;
    top: 17.5%;
    left: 50%; 
    transform: translateX(-50%);
    background: #004466;
    color: #f7f7f7;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1000;
    max-width: 80%;
    }

.toast.show {
    opacity: 1;
}

#container {
    width: 300px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 2rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 4rem;
}

form label {
    font-size: 2rem;
    text-align: center;
    color: #004466;
}

form input {
    padding: 0.2rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

form button {
    padding: 0.8rem 2rem;      
    font-size: 2rem;        
    background-color: #004466; 
    color:  #f7f7f7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}