:root {
    --base-color: #004466;
    --secondary-color: #3496c7;
    --logo-color: #0d1f49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--base-color);
    color: #fff;
    padding: 1rem;
    z-index: 1000;
}

header nav {
    display: flex;           
    align-items: center;      
    gap: 1rem;              
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 1rem;
    font-weight: bold;
    display: flex;
}

header nav a.left-link {
    margin-right: 1rem;
}

header nav a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

#search-form{
    margin-right: 1vw;
}

#search-input {
    height: 3vh;
    width: 15vw;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.suggestions {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-top: 3vh;
    padding: 0;
    border: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: transparent;
    width: 15vw;
    display: none;
}

.suggestions li {
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.search-img {
    width: 3vw;
    height: 3vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vw;
}

.suggestions li:hover {
    background-color: lightblue;
}

#profile-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--base-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    background-color: #f7f7f7;
    min-height: calc(100vh - 10rem); 
    padding: 2rem; 
}

main h1 {
    font-size: 3rem;      
    text-align: center;   
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    color: var(--logo-color)
}

main h2 {
    text-align: center;   
    margin-bottom: 1.5rem; 
    color: var(--secondary-color);      
}

.image-container {
    display: flex;           
    justify-content: center;  
    margin-top: -10rem;
}

.toast {
    position: fixed;
    top: 17.5%;
    left: 50%; 
    transform: translateX(-50%);
    background: var(--base-color);
    color: #f7f7f7;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1000;
    max-width: 80%;
    }

.toast.show {
    opacity: 1;
}

#container {
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 4rem;
}

form label {
    font-size: 2rem;
    text-align: center;
    color: var(--base-color);
}

form input {
    padding: 0.2rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

form button {
    padding: 0.8rem 2rem;      
    font-size: 2rem;        
    background-color: var(--base-color); 
    color:  #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
